<article hx-target="this" hx-swap="outerHTML"
    class="chat {% if user.id is comment.author_id %}chat-end{% else %}chat-start{% endif %}"
>
    <header class="chat-header">
        {{ comment.author.name }}
        <time class="text-xs opacity-50">{{ comment.modified_at }}</time>
    </header>

    <p class="chat-bubble">
        {{ comment.body|linebreaksbr }}
    </p>

    {% if user.id is comment.author_id %}
        <footer class="chat-footer flex">
            <button type="button"
                    class="link link-primary"
                    hx-get="{% url 'comment-update' comment.id %}"
            >編集</button>
            <form method="POST" action="{% url 'comment-delete' comment.id %}">
                {% csrf_token %}
                <button class="link link-secondary">
                    削除
                </button>
            </form>
        </footer>
    {% endif %}
</article>