{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <title>かたちブログ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{% static 'js/alpine.js' %}" defer></script>
    {% tailwind_css %}
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body data-theme="light">
    <c-layouts.nav />

    <main class="min-h-[calc(100dvh-250px)]">
        {{ slot }}
    </main>

    <c-layouts.footer />

    <c-flash />
</body>
</html>
