<div class="bg-primary text-primary-content">
    <div class="max-w-6xl mx-auto px-4 py-8">
        <footer class="footer sm:footer-horizontal">
            <h2 class="text-2xl font-bold">株式会社かたち</h2>
            <aside>
                <ul>
                    <li>〒550-0005</li>
                    <li>大阪市西区西本町1-7-7 CE西本町ビル9階</li>
                    <li>TEL: 06-6626-9983 / FAX: 06-6626-9984</li>
                    <li><a href="https://katachi-corp.jp">https://katachi-corp.jp</a></li>
                </ul>
            </aside>
        </footer>
    </div>
</div>
