{% load static %}
<nav class="nav-bar bg-base-100 shadow-sm px-4 py-2 md:flex md:items-center">
    <div class="flex-1">
        <a href="/">
            <img class="w-24 md:w-30"
                src="{% static 'logo.png' %}"
                alt="大阪就労移行支援 未来のかたち｜プログラミング・IT特化"
            >
        </a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal">
            <li>
                <a href="#">
                    アカウント登録
                </a>
            </li>
            <li>
                <a href="#">
                    ログイン
                </a>
            </li>
        </div>
    </div>
</nav>
