{% load static %}
<nav class="nav-bar bg-base-100 shadow-sm px-4 py-2 md:flex md:items-center">
    <div class="flex-1">
        <a href="/">
            <img class="w-24 md:w-30"
                src="{% static 'logo.png' %}"
                alt="大阪就労移行支援 未来のかたち｜プログラミング・IT特化"
            >
        </a>
    </div>
    <div class="flex-none">
        {% if user.is_authenticated %}
            <ul class="menu menu-horizontal">
                <li>
                    <details>
                        <summary>ようこそ {{ user.name }} さん</summary>
                        <ul class="bg-base-100 rounded-box p-2">
                            {% if user.is_admin %}
                                {% url 'mylist' as mylist_url %}
                                {% url 'create' as create_url %}
                                <li>
                                    <a href="{{ mylist_url }}"
                                        class="{% if request.path == mylist_url %}bg-info{% endif %}"
                                    >投稿記事一覧</a>
                                </li>
                                <li>
                                    <a href="{{ create_url }}"
                                        class="{% if request.path == create_url %}bg-info{% endif %}"
                                    >新規投稿</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="#"
                                    onclick="document.querySelector('#logout-form').submit()"
                                >ログアウト</a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
            <form id="logout-form" method="POST" action="{% url 'customauth:logout' %}" class="hidden">
                {% csrf_token %}
            </form>
        {% else %}
            <ul class="menu menu-horizontal">
                {% url 'customauth:register' as register_url %}
                {% url 'customauth:login' as login_url %}
                <li>
                    <a href="{{ register_url }}"
                        class="{% if request.path == register_url %}bg-info{% endif %}"
                    >アカウント登録</a>
                </li>
                <li>
                    <a href="{{ login_url }}"
                        class="{% if request.path == login_url %}bg-info{% endif %}"
                    >ログイン</a>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
